@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body{
  display: none;
  background-color: FloralWhite;
  color:#555;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.dark-mode{
  background-color: #121212;
  color: #e6e6e6;
}
.dark-mode #header{
  background-color: #9900cc;
  color: #e6e6e6;
}
.dark-mode #footer{
  background-color:#9900cc;
  color: #e6e6e6;
}
.dark-mode h4{
  color: #e6e6e6
}
.dark-mode a{
  color: #F6A623
}
.dark-mode a:hover{
  color: #ffff1a;
}

#header{
  background-color: SteelBlue;
  height: 150px;
  line-height: 150px;
}
#header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#header a:hover{
  color: #222;
}
#header-title{
  display: block;
  float: left;
  font-size: 20px;
  font-weight: bold;
}
#header-nav{
  display: block;
  float: right;
  margin-top: 0;
}
#header-nav li{
  display: inline;
  padding-left: 20px;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
}
a{
  color:SteelBlue;
  text-decoration: none;
}
a:hover{
  color: #F6A623;
}
.content{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
}
.content img{
  width: 250px;
  height: 250px;
  border-radius: 40%;
  float: left;
  padding: 40px;
}
.picture-holder{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}
.picture-holder img{
  display: block;
  margin: 0 auto;
  border-radius: 55%;
  height: 35%;
  width: 35%
}


h1, h2, h3, h4{
  color: #333;
}
p{
  line-height: 1.5;
}
.mode-button{
  margin: 0 auto;
}
.mode-button button{
  margin:0 auto;
  padding: 15px;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  background-color:#121212;
  color: FloralWhite;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
}
.dark-mode .mode-button button{
  background-color:FloralWhite;
  color: #555;
}
#footer{
  background-color: SteelBlue;
  padding: 50px 0;
}

#footer a{
  color: white;
}
#footer a:hover{
  color: black;
}
#footer h4{
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer p {
  color:white;
}
.column{
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
