/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/
body{
  background-color: FloralWhite;
  visibility: hidden;
}
.darkMode{
  background-color: #121212;
  color: FloralWhite;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 125px;    /* Footer height */
}
#diffAnswer, #sumAnswer, #smallestAnswer, #reversedAnswer, #palindromeAnswer{
  visibility: hidden;
}
#fnameInvalid, #lnameInvalid, #emailInvalid, #msgInvalid{
  color: red;
  visibility:hidden;
}
.btn-info{
  background-color: SteelBlue;
}
.darkMode .btn-info{
  background-color: #696969;
}
.darkMode .btn-info:active {
  background-color: #686858;
}
  .navbar {
    border: 0;
    border-radius: 1%;
    background-color: SteelBlue;
  }
  #myNavbar li a{
    color: white;
  }
  #myNavbar li a:hover{
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  #myNavbar .active{
    font-weight: bold;
  }

  .darkMode .navbar{
    background-color: #696969;
  }
  hr{
    border-color: #121212;
  }
  .darkMode hr{
    border-color: FloralWhite;
  }
  a{
    color:SteelBlue;
    text-decoration: none;
  }
  a:hover{
    color: #F6A623;
  }
  .darkMode a{
    color: #F6A623;
  }
  .darkMode a:hover{
    color: #ffff1a;
  }

  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}

  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    /*background-color: #f1f1f1;*/
    height: 100%;
  }
  .sidenav img{
    border-radius: 50%;

  }
  #cvImage{
    border-radius: 45%;
    /*height: 250px;
    width: 250px;*/
    margin: 0 auto;
  }

  /* Set black background color, white text and some padding */
  footer {
    background-color: SteelBlue;
    position: absolute;
    bottom: 0;
    width:100%;
    height: 125px;
    border-radius: 1%;
    color: white;
    padding: 5px;
  }
  .darkMode footer{
    background-color: #696969;
  }

  footer a{
    color: white;
    text-decoration: none;
  }

  footer a:hover{
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .darkMode footer a{
    color: white;
    text-decoration: none;
  }

  .darkMode footer a:hover{
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .col-sm-2 button{
    padding: 10px;
    border-radius:2em;
    width: 110px;
    box-sizing: border-box;
    text-decoration:none;
    background-color:#121212;
    color: FloralWhite;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
}
.darkMode .col-sm-2 button{
background-color:FloralWhite;
color: #121212;
}

  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;}
  }
